.buttons {
    &__add {
        background-color: #162c38;
        padding: 24px;
    }

    &__icon {
        color: #f5f2e5;
        transform: scale(1.2);
    } 

    &__text {
        color: #f5f2e5;
        font-size: 20px;
    }
}

.header {
    margin: 0  32px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__title {
        font-size: 24px;
        font-weight: 700;
        color: #162c38;
    }
}