<p class="title">Add Category</p>
<form [formGroup]="addCategoryForm" class="category-form">
    <div class="category-form__input">
        <mat-form-field appearance="outline">
            <input 
            matInput
            type="text"
            formControlName="name"
            placeholder="Type the category name"
            >
        </mat-form-field>
    </div>
</form>
<div class="buttons">
    <button [disabled]="isButtonDisabled()" mat-button color="primary" class="buttons__button" (click)="onCreateClick()">
        <p class="buttons__text">Add</p>
    </button>
    <button mat-button color="warn" class="buttons__button" routerLink="/categories">
        <p class="buttons__text">Cancel</p>
    </button>
</div>


